@import url("https://fonts.googleapis.com/css2?family=Mukta+Vaani&display=swap");

* {
  font-family: "Mukta Vaani", sans-serif;
  margin: 0;
  padding: 0;
}

#heading1 {
  display: flex;
  justify-content: center;
  background-color: #121619;
  color: white;
  padding-top: 85px;
  padding-bottom: 85px;
}

.moves {
  display: flex;
  justify-content: center;
  gap: 15px;
  background-color: #09814a;
  padding-left: 15px;
  padding-top: 65px;
  padding-bottom: 65px;
}

#computer-move {
  display: flex;
  color: white;
  background-color: #2d4739;
  border: 0.5px solid black;
  align-items: center;
  justify-content: center;
  width: 120px;
}

button {
  text-decoration: none;
  color: #fff;
  background: rgba(11, 19, 43, 0.616);
  border: 0;
  border-radius: 3px;
  height: 50px;
  width: 110px;
}

.score-board {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #2d4739;
}

.score-names {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 44%;
}

.score {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 50%;
}

h3 {
  font-size: 1.5rem;
}

.score > span {
  font-size: 1.5rem;
}
